// ABSTRACT IMG

@supports (-moz-appearance:none) {}
@supports (-moz-appearance:none) {} 
@supports (-moz-appearance:none) {}
@supports (-moz-appearance:none) {}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
.vertical-center,
.form-bg-full-width .vertical-center  {
    display: block;
   padding-top:10%
}

.sticky-footer--icon img {
    width: 60px;
    height: 35px;
}

}


.sidebar-menu-lv2 > li {
display:none;
}

.sidebar-menu-lv2 > li.active {
display:block;
}


.why-choose-us .col-xs-6 {
    @media (max-width:450px) {
        width: 100%;
    }
}

.section-img-text .col-xs-6 {
@media (max-width:600px) { width:100%;
}
}

        
.section-img-text {

     


    .vertical-center {
        @media (max-width:767px) {
            display:block;
        }
    }

    a {
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
    }

    &--image {
        max-width: 380px;

         @media (max-width:767px) {
           margin:0 auto;
           float:none
        }

      



        @media (max-width:480px) {
            width:100%;
            height:auto;
        }
    }

    &--text {


    }
}





.img__pull-right {
float:right;
margin:0 0 20px 20px;
}


.img__pull-left {
float:left;
margin:0 20px 20px 0;
}




#right-column {


    img {
//         width:100%;
        height:auto;
//         max-width:350px;

      


        @media (min-width:380px) and (max-width:630px) {
         width:50%;
         height:auto; 
         }

          @media  (max-width:450px) {
         width:100%;
         height:auto;
         margin:0 0 20px;
         float:none;
         }
    }
}

.graphic-platforms {
    width: 500px;
    height: 550px;
    position: absolute;
    left: calc(50% - 287px);
    top: 0;
    transform: scale(.8);
    opacity: 0;
    transition: opacity 1s ease
}

@media (min-width:670px) {
    .graphic-platforms {
        left:0;
        top: 0;
        transform: none
    }
}

.graphic-platforms.loaded {
    opacity: 1
}

.graphic-platforms div, .graphic-platforms img {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0
}

.graphic-platforms div {
    width: 100%;
    height: 100%;
    background-size: 100% 100%
}

.graphic-platforms .back.site {
    display:none;
    transform: matrix3d(.677417923473423, .08212643521422533, 0, .00022573431150625905, -.0352882090276452, .6677895257770384, 0, -.00014051718848010473, 0, 0, 1, 0, 181, -1, 0, 1)
}



.graphic-platforms .front.site {
    transform: matrix3d(.5652072533940948, -.07321269660432293, 0, -.00018709452830785784, -.02185444687068156, .6028510184921463, 0, -.00009375824129455574, 0, 0, 1, 0, 1, 0, 0, 1)
}


.group-developers {
    z-index: 10
}

.group-developers:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 50%;
    z-index: -2;
    background: #f6f9fc
}

.section-otherways {
    padding: 80px 0 60px
}

@media (min-width:670px) {
    .section-otherways {
        padding: 180px 0 100px
    }
}

.otherways-columns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (min-width:670px) {
    .otherways-columns {
        -ms-flex-direction: row;
        flex-direction: row
    }
}

.otherways-graphic {
    -ms-flex-preferred-size: 190px;
    flex-basis: 190px;
    position: relative
}

@media (min-width:670px) {
    .otherways-graphic {
        -ms-flex-preferred-size: 300px;
        flex-basis: 300px
    }
}







// ----------------------------------------------------------------------

#pagecontent{


    

    li {color:#696f77;
    }




}



        .we-are-hiring  {

        .item h4 {
        font-weight: normal;
        line-height: 1.3rem;
        margin: 20px 0 0;
        }

}



.main-content {

h1 {

    &:first-child {
        margin-top: 0
    }
}



.img-wrp {
    float: right;
   width: 50%;
    max-width: 400px;
    float:right;
    display: inline-block;
    margin: 0 0 0 30px;
}



.three-d {
    position: absolute;
    left: 0 ;
    top: 0;
 
    transform: matrix3d(.5652072533940948,-.07321269660432293,0,-.00018709452830785784,-.02185444687068156,.6628510184921463,0,-.00009375824129455574,0,0,1,0,41,120,0,1);
}





}




    .content-area {

        h2 {
            margin-bottom: 30px;
        }





}



// TABS


body {

        .nav-tabs {
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: center;


                @media (max-width:600px) {
                    display:block;
                }


        
        }

        
        .nav-tabs>li.active {
           margin-bottom: -1px;
        }

        .nav-tabs>li.active>a, 
        .nav-tabs>li.active>a:focus, 
        .nav-tabs>li.active>a:hover {
            color: $primary-color;
           
            color: #e05115;
            background-color:transparent;
            border: none;
            border:2px solid $primary-color;
         

         }


        .nav-tabs>li {

            @media (max-width:600px)  {
            width:50%;
            text-align:center;
            }

        }
        .nav-tabs>li>a {
            margin-right: 10px;
            line-height: 1.42857143;
            border: none;
            border-radius: none;
            font-weight: bold;
            font-size: 1.1rem;
            border: 2px solid;
            color: #666;
            font-weight: normal;
            padding: 8px 50px;
            border-radius:50px;
            @extend .heading-font;
               

            &:hover {
            border:2px solid #111;  
            color:#111;  
            }

            @media (max-width:600px)  {
                font-size:1rem;
                padding:10px 10px;
            }

            }

}




#aigwd-maincontentcontainer {
    a[target="_blank"]:after{
content: " \f08e";
font-family: 'FontAwesome';
font-size:.8rem;
}

}



blockquote {

//     border-left: 5px solid $primary-color;

padding: 0 0 10px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: none;
//     @extend .heading-font;
//     color:#444;
}




div.anchor {
    clear:both;
    width:100%;
}

.backtotopscroll {
    border: 1px solid #f47321;
    padding: 10px 0;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    margin: 2em 0 3em;
    text-transform: uppercase;
    font-size: .8rem;
    max-width: 120px; 
    text-align: center;
    line-height: 1;
    border-radius: 50px;
   clear:both;
    a {
    color: $primary-color;
    padding: 2px; 
    display: block;
    text-decoration: none;
    }
}





.anchor-links {

 
margin-top: 40px;
width: 100%;
margin-bottom:30px;


        @media (max-width:550px) {
        min-width:100%
        }

        &--itm {
            display: block;
            padding-left:0!important;
            background-image:none!important;
            margin:0!important;
        
            a {

                 @extend .heading-font;
                
                  
font-size: 1.1rem;
   
    border: none;
    padding: 8px 20px;
    width: 100%;
    clear: both;
    display: block;
    color: #111;
    background: url(css/images/icons/arrow-long.svg) top 15px right 18px no-repeat;
    padding-right: 40px;
    background-size: 15px;
    transition: all .5s;
    border-radius: 50px;
    margin: 0 0 10px;
    border:1px solid #cacaca;
    max-width:480px;
    @extend .body-copy;
        line-height: 1.5rem;
                

                &:hover {
                    background: $primary-color url(css/images/icons/arrow-long-white.svg) top 15px right 18px no-repeat;
                    color:#fff;
                    border: 1px solid $primary-color;
                      background-size:15px;
                    // background: $primary-color  url(css/images/icons/arrow-long-white.svg) top 21px right 18px no-repeat;
                    
                }
                }
        }
   }





// blockquote {
//     width: 100%;
//     margin: 0 0 30px;
//     display: inline-block;
//     position: relative;
//     height: auto;
//     background-color: $dark-grey;
//     padding: 2.3em;
//     text-align: left;
//     line-height: 1.5em;
//     border-left:none;

//     p {
//          color:#fff;
//          @extend .heading-font;
//          text-decoration:underline;
//              font-size: 1.3rem;
//     line-height: 1.5;
//     }

//     + p {
//            @extend .heading-font;
        
//              font-size: 1.3rem;
//     line-height: 1.5;
//     }

//     &:after {
//     content: ' ';
//     position: absolute;
//     width: 0;
//     height: 0;
//     left: 0px;
//     right: auto;
//     top: auto;
//     bottom: -20px;
//     border: 22px solid;
//     border-color: transparent transparent transparent $dark-grey;
//     }
// }

.home {

    .pe-7s-film {
        font-size: 30px!important
    }
}



.section-reversed {


background: $primary-color;
// background: rgba(244,115,33,1);
// background: -moz-linear-gradient(left, rgba(244,115,33,1) 0%, rgba(222,28,17,1) 100%);
// background: -webkit-gradient(left top, right top, color-stop(0%, rgba(244,115,33,1)), color-stop(100%, rgba(222,28,17,1)));
// background: -webkit-linear-gradient(left, rgba(244,115,33,1) 0%, rgba(222,28,17,1) 100%);
// background: -o-linear-gradient(left, rgba(244,115,33,1) 0%, rgba(222,28,17,1) 100%);
// background: -ms-linear-gradient(left, rgba(244,115,33,1) 0%, rgba(222,28,17,1) 100%);
// background: linear-gradient(to right, rgba(244,115,33,1) 0%, rgba(222,28,17,1) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47321', endColorstr='#de1c11', GradientType=1 );

background: $dark-grey;


    > *,
    h4,
    p  {
        color: #fff;
    }


&__purple {
    background: $purple;
}


}


.case-study {

    p {
        margin-bottom: 5px;
    }

    margin-bottom: 20px;
}

.employers-sidebar {
    .icon-widget {
        clear: both;
    }
}

#rightcolumn {

    @media all and (min-width:1px) and (max-width:991px) { 

//         clear: both
    
      }
    
    
}

.quote-sidebar {
    @media (max-width:991px) {
//         display: none
    }
}

.owl-carousel .owl-item a {



position: relative;
  display: inline-block;
  cursor: pointer;

}


a.video-link::before {
position:absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
// content: "\f01d";
// font-family: FontAwesome;
// font-size: 50px;
content:'';
background:url(css/images/icons/play-button-2.svg) top left no-repeat;
color: #fff;
opacity: .8;
// text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
width: 40px;
height: 40px;
}
a.video-link:hover::before {
color: #eee;
}



.button.button-full {
    display: block !important;
    white-space: normal;
    margin: 0;
    height: auto;
    line-height: 1.6;
    padding: 30px 0;
    font-size: 30px;
    font-weight: 300;
    text-transform: none;
    border-radius: 0;
    text-align:center;

 strong {
     color:#fff;
 }

 
}




.button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin: 5px;
    padding: 0 22px;

    height: 40px;
    line-height: 40px;
    background-color: $primary-color;
    color: #FFF;

    border: none;
    @extend .heading-font;

    &:hover {
        background-color: $dark-grey;
        color:#fff;
    }
}
  

 .wpoi-hustle .wpoi-content h2.wpoi-title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 12px;
    font: 300 20px/27px "Open Sans", Arial, sans-serif;
    text-align: left;
    @extend .heading-font;
}



// REGISTRAION CTA

.abstract-cta {
   background: #e05115;
    background-size:450px!important;
    background-repeat:no-repeat;
        background-attachment: fixed;


    &--img {
    z-index: 1;
    } 

    &--text {
        z-index: 3
    }  

}

// PARRALLAX HDR
.section-orange-bg  {

    .parallax--left-img {
    width: 60%;
    height: 612px;
    top: 71px;
    opacity:.6;
    left:-15%;
    }




}

.hero {

  .parallax--left-img,
  .parallax--right-img  {
      display:none;
  }  
  
}
   

.parallax {
background-position: right;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;


            &--bg-lines {
             background: linear-gradient(135deg, #124589 0%, #124589 0%, #573988 86%),  url('css/images/bg-lines.svg');
                 background-size: 100%, 100%;
           

            }



            &--right-img,
              &--left-img  {

                overflow: hidden;
            // background-position: right;
            // background-repeat: no-repeat;
            // background-size: cover;
            // background-attachment: fixed;
            // background-repeat: no-repeat;
            // background-size: 77%;
            // background-position: right -174px bottom -427px;


//            display:none;   
                    content: "";
                    position: absolute;
width: 60%;
    height: 650px;
    top: 100px;
    left: -5%;
        opacity: .3;
                    z-index: 2;
                    background: url(css/images/bg-lines.svg) 0 0 repeat;
//                     -webkit-transform: rotate(0deg);
//                     transform: rotate(-30deg);
                    
                    background-repeat: no-repeat;
                    background-size: contain;

                    @media (max-width:650px) {
                      width: 60%;
                      left:0;
                    }
        


            }


}

.abstract-bg {
position: absolute;
top: 0;
z-index: 1;
width: 38%;
left:0;
}

#right-column {


    h1:first-child {
        margin-top: 0
    }
}



.yui-skin-sam .yui-panel-container.shadow {
    width: auto;
    min-width: auto;
}


.page-copy {
    margin-bottom: 0;
}


#right-column img {
    max-width: 295px;
}

#right-column .resume-listing-item  img {

    width: 100%;
    height: auto;

}

.resume-listing-item {
  margin-bottom:20px;
  position: relative;





 




}

.resume-listing-item a {
     border: 1px solid #e3e3e3;
     transition: border .5s;  
     display: block;

    &:hover {
    border:1px solid $dark-grey;
    }


    &:hover:before {
    color:#fff;
    background: $primary-color;
    }

    

    &:before {
    position: absolute;
    font-family: FontAwesome;
    content: "\f019";
    top: 50%;
    left: 50%;
    width: 41px;
    height: 41px;
    background: #f5f5f5;
    border-radius: 30px;
    padding: 10px 12px;
    margin: -20px 0 0 -20px;
    transition: background .5s;
    }










}


#right-column .resource-item  {



    h4 {
        margin: 20px 0 10px;
            margin: 20px 0 10px;
    text-transform: none;
    font-size: 1.1rem;
    font-weight:bold;
    }

a.video {

    &:before {
    font-family: FontAwesome;
    content: "\f144";
        margin-right: 5px;

    // top: 50%;
    // left: 50%;
    // width: 41px;
    // height: 41px;
    // background: #f5f5f5;
    // border-radius: 30px;
    // padding: 10px 12px;
    // margin: -20px 0 0 -20px;
    // transition: background .5s;

    }

}


a.download {

    &:before {
        font-family: FontAwesome;
    content: "\f019";
        margin-right: 5px;

    }

  
}



  a {
        color:$dark-grey;
        font-weight: bold;
    font-size: .9rem;

    &:hover {
        color:$primary-color;
    }
    }

    i {
        // color: $primary-color;
        font-size: 1rem
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }


    span {
        padding: 6px;
        background: #fbfbfb;
        display: block;
        color: #444;

        @extend .body-copy;
        font-weight: bold;
    }



    &:hover {
    
      span {
        background: $dark-grey;
        color: #fff;
    }


    }
}

.home {


            #video-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            min-height: 370px;
            background-color: rgba(0, 0, 0, .6);
            z-index: 2;
            height: 100%;
            }

            
            .video-hdr .container {
            z-index: 3;
            margin: 0;
            }




            a.video-link {
            float:none;
            }


            a.video-link::before {
            top: 50%;
            }


            .reversed h1 {
            font-weight: 300;
            font-size: 4rem; 
    
            @media (min-width:200px) and (max-width:500px) {
                font-size:2.2rem;
            }  

            }

            .footer{margin-top:0px!important}


            .page-copy {
            margin-bottom: 0;
            }

              



}


