.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}




.employers-sidebar {



 .ginput_container {

    input {
    display: block;
    width: 100%; padding: 10px;
    font-size: 1rem;
    line-height: 1.42857143;
    color: #333;
    background-color: transparent;
    background-image: none;
    border: 1px solid #7d7d7d;
    border-radius: 4px;
    }


    > .gfield{
    width:100%;
    clear:both;
     }




}

}

 
button[type="submit"] {
 border-radius:5px;
  
}
.gfield_pull-left,
.gfield_pull-right {
width:48.5%;
}


.gfield_pull-left {
float: left;
}

.gfield_pull-right {
float: right
}


.gform_footer {
margin-top: 20px;
width: 100%;
float: left;
}

.reversed {

  .form-control {
    border:none;
  }

}
    .form-control {

  margin: 10px 0;
  min-width:290px;
}


/*---- Over-riding Gravity Forms out-of-the-box styles with Bootstrap styles and personal preferences ----*/
#gform_fields_1{
    list-style: none;
}


#subscribe-form input[type="submit"] {
  margin-left:0;
  margin-top:20px;
  min-width:220px;
}



.form-bg-full-width input{
    display: block;
    width: 100%;
   
    padding: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #ccc;
    background-color: transparent;
    background-image: none;
    border: 1px solid #FFF;
    border-radius: 4px;

}

.form-bg-full-width textarea {
  float:left;
  margin-top:20px;
  width:100%;
}
.form-bg-full-width textarea{
    display: block;
    width: 100%;
 
    padding: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #ccc;
    background-color: transparent;
    background-image: none;
    border: 1px solid #FFF;
    border-radius: 4px;
     height: auto;
    overflow: auto; 
}



.gform_validation_container{
    display: none;  
}

.gform_button,
.form-bg-full-width button,
.form-bg-full-width input[type="submit"]
{
  
    background-color: transparent;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid #fff;
    white-space: nowrap;
    padding: 12px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 50px;
    -webkit-user-select: none;
    max-width: 250px;
}

.gform_button:hover{
    background-color: #3470A5;  
}

.gfield_required{
    color: #d9534f; 
}

.gfield_description{
    font-style: italic; 
}

.validation_error, .validation_message{
    background-color: #d9534f;
    border-color: #d43f3a;
    padding: 2%;
    color: #fff;
    border-radius: 5px; 
}

.validation_error{
    margin-left: 6%;    
}

.validation_message{
    margin-top: 2%; 
}

.gform_confirmation_message{
    background-color: #5cb85c;
    padding: 2%;
    border-radius: 5px;
    color: #fff;    
}



body .form-control {
    height: auto;
    padding: 11px 12px;
    border-radius: 5px;
    font-size: 1rem;
 box-shadow: inset 0 0 0 rgba(0,0,0,.0);
}



// FILE UPLOAD

$background: #fff;
$file-upload-color: $primary-color;
$file-upload-size: 60%;


.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 0;
    //border: 1px solid #ccc;
    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    position: relative; 
    margin-bottom: 5px;
    //border: 1px solid #ccc;
}
.file-upload-input {
    width: $file-upload-size;
    color: #111;
    font-size:1rem;

 padding: 12px 12px;
    border: none;
    background-color: #fff;; 
   transition: all .2s;
    float: left; /* IE 9 Fix */
   width:65%;

   -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;


    &:hover, &:focus { 
     
        outline: none; 
    }
}
.file-upload-button {
    cursor: pointer; 
    display: inline-block; 
    color: #fff;
    font-size:1rem;
    width:35%;


 padding: 10px 12px;
    border: none;
    margin-left: -1px;  
    background-color: #777; 
    float: left; /* IE 9 Fix */
     transition: all .2s;

    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;


    &:hover {
        background-color: #111;
    }
}