#preloader {
z-index:20000000000000;
    }

    .bar {
  background:$primary-color;
}

 

.nav-up {
    top: -75px;
}


.header-buttons {
  
    float: right;
    position: relative;
    text-align: right;
        position: absolute;
    top: 0;
    right: 0;
    font-size:1rem;
    text-transform:uppercase;

    @media(max-width:1200px) {
        text-transform:none;
        font-size:1rem;
    }

    @media (max-width:989px) {
        display:none;
    }


}





.aig-logo-wrapper {
width: 0;
float: left;
z-index: 100000;
position:relative;

} 



.aig-logo {
    width: 137px; 
    height: 28px; 
    display: inline-block;
    padding: 0;
     background-clip: border-box;
    background-origin: padding-box;
    background-position: 0 50%;
    background-size: contain;
    overflow: hidden;
    text-indent: -9999em; 
    margin-top:0;
    background: transparent url(css/images/logo.svg) center center no-repeat;
 
    &--white {
    background: transparent url(css/images/logo.svg) center center no-repeat;
    vertical-align: middle;
    position: absolute;
    top: 2px;
    }

}




.header-buttons {

    .navbar-nav>li>a {
    color: #fff;
    padding: 10px 8px 9px; 
	text-transform:uppercase;
	    font-weight: 600;
    }

	@media (min-width:991px) and (max-width:1150px) {
	font-size:12px;
	}




}





.header-icon {


        display: inline-block;
        float: left;
        margin: 4px 15px 0 0;

        a {
        text-indent: -99999px;
        width: 25px;
        height: 25px;
        display: block;

         &:hover {
            background-color: none;
            cursor:pointer;
        }


        }


       

        &__search a{
        background: url(css/images/icons/search.svg) top left no-repeat;
        }

        &__facebook a{
        background: url(css/images/icons/facebook-app-logo.svg) top left no-repeat;
        margin-left:10px;
        }


}




 


//  REVERSED ON SCROLL --------------------------------------

.aig-header.reversed {
    background-color: $dark-grey;

       -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;

    &:before {
        background:none;
    }

// li.menu-item-has-children > a:after {
//     border-color:$primary-color;
//     border-top: 1px solid transparent;
//     border-left: 1px solid transparent; 
// }
   



/*     .aig-logo {
         background: transparent url(css/images/logo.svg) center center no-repeat;
    }
 */
        .li.menu-item-has-children > a {
            color: #FFF;
            &:hover {
                color: #fff
            }   
        }

}

 




.parallax-obj-right {
position: relative;
color:#99a1c5;
overflow:hidden;

         &--offset {
         
            width: 100%;
            position: absolute;
            bottom:-400px;
            right:30px;
            z-index:3;
            fill: currentColor;

                @media (max-width:767px) {
                bottom: 293px!important;
                right: -188px;  
                }

         }

           &--man {
         
            display: block;
            position: absolute;
            right: -200px;
            width: 74%;

            @media (max-width:767px) {
                width: 800px;
                right:-200px;
            }

         }





}

.aig-header {
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;

}