// @import "variables";


// SCROLL


.aig-header.change li.menu-item-has-children > a {
	color:#333;
}

.aig-header.change li.menu-item-has-children > a:after {
    border: 1px solid #e15115;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}



.aig-header.change .header-buttons .aig-btn.aig-btn--outline-white, 
.aig-header:not(.pp-header--submenu-open) .menu-button-wrapper .aig-btn.aig-btn--outline-white {
    color: #e15115;
    box-shadow: 0 0 0 1px #e15115, 0 0 0 1px #e15115;
}

.aig-header.change .header-buttons .aig-btn.aig-btn--white, 
.aig-header.change .menu-button-wrapper .aig-btn.aig-btn--white {
    background: #e15115;
    color: #fff;
}







.aig-header.change {
background-color: #FFF;
z-index: 99;
box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2), 0 0 10px 1px rgba(255, 255, 255, .2);
position: fixed;

 &:before {
        background: none;
    }

        .menu-button {
    color: #333;
	}

		.menu-item.home a {
		background: url(css/images/icons/home-dark.svg) top left no-repeat;
		}

		#menu-main-menu li.menu-item.home a {
		background: url(css/images/icons/home-dark.svg) top left no-repeat;
		}







   

   







    .li.menu-item-has-children > a {
        color: #333;
        &:hover {
            color: #fff;
        }   
    }


.aig-logo--white {
    background-image: url(css/images/logo-full.svg);
}


	

	.navbar-nav>li>a {
    color: #333;
    }


	.header-icon {

		&__search a{
		background: url(css/images/icons/search-dark.svg) top left no-repeat;
		}

		&__facebook a{
		background: url(css/images/icons/facebook-app-logo-dark.svg) top left no-repeat;
		}

	}

	


} 



// ORANGE BG

#aig-header.aig-header.change.reversed {

	background:$primary-color;
	.aig-logo {
	background: transparent url(css/images/logo.svg) center center no-repeat;
	}



	&:before {
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 100%);
	}



	#menu-main-menu-1 li.menu-item-has-children > a{
    color: #fff;
    }


	.header-icon {

		&__search > a{
		background: url(css/images/icons/search.svg) top left no-repeat;
		}

		&__facebook >  a{
		background: url(css/images/icons/facebook-app-logo.svg) top left no-repeat;
		}

	}

	.header-buttons .navbar-nav > li > a {
	    color: #fff;
	}


	li.menu-item-has-children > a:after {
	    border: 1px solid #fff;
	        border-top: 1px solid transparent;
    border-left: 1px solid transparent;
	}



	#menu-main-menu-1 li.menu-item.home > a {
		background: url(css/images/icons/home.svg) top left no-repeat;
	}


}


