
/*
* Our Team
*/
.team-item {
	padding: 0px 10px; 
}
.team-item:hover .image-wrapper img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.team-item .image-wrapper {
	display: block;
	overflow: hidden;
}
.team-item .image-wrapper img {
	-webkit-transition: ease transform 300ms;
	-moz-transition: ease transform 300ms;
	transition: ease transform 300ms;
}

.team-item .team-member-name {
	display:block;
	margin-bottom:4px;
}
.team-item .team-infos {
	position: relative;
	background: #f5f5f5;
	padding: 25px;
	margin:-10px 0 0 0;

	a {
		color:#222;
		text-transform:none;
		font-size:1.1rem;
	}
}
.team-item .team-infos .share {
	position: absolute;
	bottom: calc(100% - 22px);
	right: 15px;
	width: 44px;
	overflow: hidden;
	z-index: 1;
	-webkit-transition: ease height 300ms;
	-moz-transition: ease height 300ms;
	transition: ease height 300ms;
}
.team-item .team-infos .share:hover .share-icons {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.team-item .team-infos .share:hover i.fa-share-alt {
	background: $primary-color;
}
.team-item .team-infos .share:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #FFF;
	width: 100%;
	height: 22px;
}
.team-item .team-infos .share .share-icons {
	text-align: center;
	padding-bottom: 42px;
	border-radius: 50px;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: ease transform 300ms;
	-moz-transition: ease transform 300ms;
	transition: ease transform 300ms;
	background:#fff;
}
.team-item .team-infos .share i {
	display: block;
	color: #FFF;
	padding: 15px;
	opacity: 0.5;
	-webkit-transition: ease opacity 300ms;
	-moz-transition: ease opacity 300ms;
	transition: ease opacity 300ms;
}
.team-item .team-infos .share i.fa-share-alt {
	position: absolute;
	background: #58605a;
	bottom: 0;
	left: 0;
	border-radius: 50px;
	opacity: 1;
	z-index: 1;
}
.team-item .team-infos .share i.fa-facebook {
	color: #4d70a8;
}
.team-item .team-infos .share i.fa-instagram {
	color: #964b00;
}
.team-item .team-infos .share i.fa-linkedin {
	color: #0077b5;
}
.team-item .team-infos .share i:hover {
	opacity: 1;
}
.team-item .team-infos .team-member-desc {
	display: block;
	color: #777;
}